{{!-- html for burger page goes here --}}

{{!-- ============================= PAGE HEADER ============================= --}}
<div class="jumbotron">

  <h1 class="display-4">SO MANY (vegan) BURGERS!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

    {{!-- ============================= INPUT FORM ============================= --}}
  <div id="form-container">
    <form id="devour-form">
      <div class="form-group">
        <label for="newBurger">New Burger</label>
        <input type="text" class="form-control" id="newBurger" placeholder="Create a Burger!">
      </div>
      {{!-- button to submit user input to database --}}
      <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>

</div>



{{!-- ============================= BURGER FIELDS ============================= --}}
<div class="container" id="burger-groups">
  <div id="to-eat">
    <h2>Eat a Burger!</h2>
    <ul>
  {{#each burger_data}}
    {{#unless devoured}}
    <li>
    {{burger_name}}

		{{#if devoured}}{{else}}<button class="eat-me" data-id="{{id}}">Eat Me!</button>{{/if}}

    
  </li>
  {{/unless}}
  {{/each}}
</ul>
  </div>
  
  <div id="eaten">
    <h2>Already Eaten!</h2>

    <ul>
    {{#each burger_data}}
    {{#if devoured}}
      <li>
      {{burger_name}}

      {{#if devoured}}{{else}}<button class="eat-me" data-id="{{id}}">Eat Me!</button>{{/if}}

      
      </li>
    {{/if}}
    {{/each}}
    </ul>

  </div>
</div>

